<div class="wrapper">
<app-nav-bar></app-nav-bar>
  <section class="inner-header-title blank">
    <div class="container">
      <h1>Create Job</h1>
    </div>
  </section>
  <div class="clearfix"></div>
  <div class="detail-desc section">
    <div class="container white-shadow">
      <div class="row">
        <div class="detail-pic js">
          <div class="box">
            <input class="inputfile" id="upload-pic" name="upload-pic[]" type="file"/>
            <label for="upload-pic"><i aria-hidden="true" class="fa fa-upload"></i><span></span></label>
          </div>
        </div>
      </div>
      <div class="row bottom-mrg">
        <form class="add-feild">
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input class="form-control" placeholder="Job Title" type="text">
            </div>
          </div>

          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input class="form-control" placeholder="Your Email" type="text">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <select class="form-control input-lg">
                <option>Job Type</option>
                <option>Full Time</option>
                <option>Part Time</option>
                <option>Freelancer</option>
                <option>Internship</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input class="form-control" placeholder="Location,e.g. London Quel Mark" type="text">
            </div>
          </div>

          <div class="col-md-12 col-sm-12">
            <textarea class="form-control" placeholder="Job Description"></textarea>
          </div>

        </form>
      </div>
    </div>
  </div>
  <section class="full-detail">
    <div class="container">
      <div class="row bottom-mrg extra-mrg">
        <form>
          <h2 class="detail-title">Company Information</h2>

          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-flag"></i></span>
              <input class="form-control" placeholder="Company Name" type="text">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input class="form-control" placeholder="Company Email" type="text">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-globe"></i></span>
              <input class="form-control" placeholder="Website" type="text">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
              <input class="form-control" placeholder="Local E.g. It Park New" type="text">
            </div>
          </div>
        </form>
      </div>
      <div class="row bottom-mrg extra-mrg">
        <form>
          <h2 class="detail-title">Job Requirement</h2>
          <div class="col-md-12 col-sm-12">
            <textarea class="form-control textarea" placeholder="About Company"></textarea>
          </div>
          <div class="col-md-12 col-sm-12">
            <button class="btn btn-success btn-primary small-btn">Submit your company</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
