<div class="item-click">
  <article>
    <div class="brows-company">
      <div class="col-md-2 col-sm-2">
        <div class="brows-company-pic">
          <a ><img src="assets/com-2.jpg" class="img-responsive" alt="" /></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="brows-company-name">
          <a><h4>Google</h4></a>
          <span class="brows-company-tagline">Software Company</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="brows-company-location">
          <p><i class="fa fa-map-marker"></i> Street #210, Make New London</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="brows-company-position">
          <p>6 Opening</p>
        </div>
      </div>
    </div>
  </article>
</div>
