<section class="inner-header-title" style="background-image:url('assets/banner-10.jpg');">
  <div class="container">
    <h1>Employer Profile</h1>
  </div>
</section>
<div class="clearfix"></div>

<section class="detail-desc advance-detail-pr gray-bg">
  <div class="container white-shadow">
    <div class="row bottom-mrg padd-top-40">
      <div class="col-md-12 col-sm-12">
        <div class="advance-detail detail-desc-caption">
          <h4>{{user.name}}</h4><span class="designation">{{user.email}}</span>
        </div>
      </div>
    </div>
    <div class="row no-padd">
      <div class="detail pannel-footer">
        <div class="col-md-12 col-sm-12">
          <div class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn red-btn cursor">Logout</a>
          </div>
          <div class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn grn-btn cursor">View Jobs</a>
          </div>
          <div class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn grn-btn cursor">View Companies</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="full-detail-description full-detail gray-bg">
  <div class="container">
    <div class="col-md-12 col-sm-12">
      <div class="full-card">
        <div class="deatil-tab-employ tool-tab">
          <ul class="nav simple nav-tabs" id="simple-design-tab">
            <li [class.active]="currentTab === 'about'"><a (click)="changeCurrentTab('about')">About</a></li>
            <li [class.active]="currentTab === 'settings'"><a (click)="changeCurrentTab('settings')">Settings</a></li>
          </ul>
          <div class="tab-content">
            <div *ngIf="currentTab === 'about'" id="about" class="tab-pane fade in active">
              <h3>About {{user.name}}</h3>
              <p *ngIf="user.about === ''"><i>Please go to settings to add details about you!</i></p>
              <p *ngIf="user.about !== ''">{{user.about}}</p>
            </div>

            <div *ngIf="currentTab === 'settings'" id="settings" class="tab-pane fade in active">
              <div class="row no-mrg">
                <h3>Edit Profile</h3>
                <div class="edit-pro">
                  <form [formGroup]="aboutFormGroup">
                    <div class="col-md-12 col-sm-12">
                      <label>About you</label>
                      <textarea class="form-control" placeholder="Write Something" formControlName="about"></textarea>
                    </div>
                    <div class="col-sm-12">
                      <button type="button" class="update-btn" (click)="updateAbout()">Update Now</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

