<app-nav-bar></app-nav-bar>
<section class="inner-header-title" style="background-image:url(assets/banner.jpg);">
  <div class="container">
    <h1>{{manage ? 'Manage' : 'Browse'}} Jobs</h1>
  </div>
</section>
<div class="clearfix"></div>
<section class="brows-job-category">
  <div class="container">
    <div class="row extra-mrg">
      <div class="wrap-search-filter">
        <form [formGroup]="searchJobFormGroup">
          <div class="col-md-4 col-sm-4">
            <input type="text" class="form-control" placeholder="Search for job" formControlName="title"
                   [value]="searchJobFormGroup.controls.title.value">
          </div>
          <div class="col-md-3 col-sm-3">
            <select class="form-control input-lg" formControlName="type">
              <option>All</option>
              <option>Full Time</option>
              <option>Part Time</option>
              <option>Internship</option>
              <option>Contract</option>
            </select>
          </div>
          <div class="col-md-3 col-sm-3">
          </div>
          <div class="col-md-2 col-sm-2">
            <button type="submit" class="btn btn-success full-width" (click)="searchJob()">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row extra-mrg">
      <ng-container *ngFor="let job of jobs">
        <div class="col-md-4 col-sm-6">
          <app-job-box [job]="job"></app-job-box>
        </div>
      </ng-container>
    </div>
    <div class="row" *ngIf="manage">
      <div class="col-md-12 col-sm-12 view-all-jobs">
        <div class="text-center"><a (click)="navigateToCreateJob()" class="btn btn-success">Create a job</a></div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
