<app-nav-bar></app-nav-bar>
<section class="inner-header-title" style="background-image:url('assets/banner.jpg');">
  <div class="container">
    <h1>Job Detail</h1>
  </div>
</section>
<div class="clearfix"></div>
<section class="detail-desc">
  <div class="container white-shadow">
    <div class="row">
      <div class="detail-pic">
        <img src="{{job.company.logo}}" class="img" alt="Logo"/>
      </div>
    </div>
    <div class="row bottom-mrg">
      <div class="col-md-8 col-sm-8">
        <div class="detail-desc-caption">
          <h4>{{job.title}}</h4>
          <span class="designation">{{job.company.name}}</span>
          <p>{{job.company.description}}</p>
          <ul>
            <li><i class="fa fa-briefcase"></i><span>{{job.type}}</span></li>
            <li><i class="fa fa-flask"></i><span>{{job.experience}} Year Experience</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="get-touch">
          <h4>Get in Touch</h4>
          <ul>
            <li><i class="fa fa-map-marker"></i><span>{{job.contact_location}}</span></li>
            <li><i class="fa fa-envelope"></i><span>{{job.email}}</span></li>
            <li><i class="fa fa-phone"></i><span>{{job.phone}}</span></li>
            <li><i class="fa fa-money"></i><span>Rs. {{job.salary}}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-padd" *ngIf="(!isEmployee && jobApplications !== undefined) || user.id === job.company.user.id">
      <div class="detail pannel-footer">
        <div class="col-md-12 col-sm-12">
          <div *ngIf="!isEmployee && jobApplications.length === 0" class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn grn-btn cursor" (click)="navigateToApplyJob()">Quick Apply</a>
          </div>
          <div *ngIf="!isEmployee && jobApplications.length !== 0" class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn red-btn cursor" (click)="navigateToViewApplication()">View application</a>
          </div>
          <div *ngIf="isEmployee" class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn red-btn cursor" (click)="deleteJob()">Delete Job</a>
          </div>
          <div *ngIf="isEmployee" class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn grn-btn cursor" (click)="editJob()">Edit Job</a>
          </div>
          <div *ngIf="isEmployee" class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn grn-btn cursor" (click)="navigateToViewApplications()">View Job Applications</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-detail-description full-detail">
  <div class="container">
    <div class="row row-bottom">
      <h2 class="detail-title">Job Responsibilities</h2>
      <p>{{job.description}}</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
