<app-nav-bar></app-nav-bar>
<section class="inner-header-title" style="background-image:url(assets/banner.jpg);">
  <div class="container">
    <h1>Job Application Detail</h1>
  </div>
</section>
<div class="clearfix"></div>
<section class="detail-desc" *ngIf="jobApplication !== undefined">
  <div class="container white-shadow">
    <div class="row bottom-mrg mrg-0 padd-top-40">
      <div class="col-md-8 col-sm-8">
        <div class="detail-desc-caption">
          <h4>{{jobApplication.applicant.name}}</h4>
          <span class="designation">{{jobApplication.job.title}}</span>
          <p>{{jobApplication.applicant.about}}</p>
          <ul>
            <li><i class="fa fa-briefcase"></i><span>{{jobApplication.job.type}}</span></li>
            <li><i class="fa fa-flask"></i><span>{{jobApplication.experience}} Experience</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="get-touch">
          <h4>Get in Touch</h4>
          <ul>
            <li><i class="fa fa-envelope"></i><span>{{jobApplication.applicant.email}}</span></li>
            <li><i class="fa fa-money"></i><span>Rs. {{jobApplication.salary}}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-padd mrg-0" *ngIf="user.type === 'employee'">
      <div class="detail pannel-footer">
        <div class="col-md-12 col-sm-12">
          <div class="detail-pannel-footer-btn pull-right">
            <a (click)="hireDialog()" class="footer-btn grn-btn" title="">Hire Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-detail-description full-detail" *ngIf="jobApplication !== undefined">
  <div class="container">
    <div class="row row-bottom mrg-0">
      <h2 class="detail-title">Cover Letter</h2>
      <p>{{jobApplication.cover_letter}}</p>
    </div>
    <div class="row row-bottom mrg-0" *ngIf="jobApplication !== undefined">
      <h2 class="detail-title">Extra Information</h2>
      <p>{{jobApplication.info}}</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
