<app-nav-bar></app-nav-bar>
<section class="inner-header-title" style="background-image:url(assets/banner-10.jpg);">
  <div class="container">
    <h1>Resume Detail</h1>
  </div>
</section>
<div class="clearfix"></div>
<section class="detail-desc">
  <div class="container white-shadow">
    <div class="row bottom-mrg mrg-0 padd-top-40">
      <div class="col-md-8 col-sm-8">
        <div class="detail-desc-caption">
          <h4>Daniel Dax</h4>
          <span class="designation">Web Developer</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.</p>
          <ul>
            <li><i class="fa fa-briefcase"></i><span>Internship</span></li>
            <li><i class="fa fa-flask"></i><span>2 Year Experience</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="get-touch">
          <h4>Get in Touch</h4>
          <ul>
            <li><i class="fa fa-envelope"></i><span>danieldax704@gmail.com</span></li>
            <li><i class="fa fa-money"></i><span>$52/Hour</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-padd mrg-0">
      <div class="detail pannel-footer">
        <div class="col-md-12 col-sm-12">
          <div class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn grn-btn" title="">Hire Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-detail-description full-detail">
  <div class="container">
    <div class="row row-bottom mrg-0">
      <h2 class="detail-title">Cover Letter</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</p>
    </div>
    <div class="row row-bottom mrg-0">
      <h2 class="detail-title">Extra Information</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.</p>
    </div>
  </div>
</section>
