
<app-nav-bar></app-nav-bar>
<section class="inner-header-title" style="background-image:url('assets/banner.jpg');">
  <div class="container">
    <h1>Company Detail</h1>
  </div>
</section>
<div class="clearfix"></div>
<section class="detail-desc">
  <div class="container white-shadow">
    <div class="row">
      <div class="detail-pic">
        <img src="{{company.logo}}" class="img" alt="Logo">
      </div>
    </div>
    <div class="row bottom-mrg">
      <div class="col-md-8 col-sm-8">
        <div class="detail-desc-caption">
          <h4>{{company.name}}</h4>
          <span class="designation">{{company.category}}</span>
          <p>{{company.description}}</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="get-touch">
          <h4>Get in Touch</h4>
          <ul>
            <li><i class="fa fa-map-marker"></i><span>{{company.location}}</span></li>
            <li><i class="fa fa-envelope"></i><span>{{company.email}}</span></li>
            <li><i class="fa fa-globe"></i><span>{{company.website}}</span></li>
            <li><i class="fa fa-phone"></i><span>{{company.phone}}</span></li>
            <li><i class="fa fa-users"></i><span>{{company.employee_count}}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-padd" *ngIf="user.type === 'candidate' || user.id === company.user.id">
      <div class="detail pannel-footer">
        <div class="col-md-12 col-sm-12">
          <div class="detail-pannel-footer-btn pull-right">
            <a class="footer-btn grn-btn cursor" *ngIf="user.type === 'employee'" (click)="manageJobs()">Manage jobs</a>
            <a class="footer-btn grn-btn cursor" *ngIf="user.type === 'candidate'" (click)="browseJobs()">Browse jobs</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="full-detail-description full-detail">
  <div class="container">
    <div class="row row-bottom">
      <h2 class="detail-title">About Company</h2>
      <p>{{company.about}}</p>
    </div>
  </div>
</section>
<section class="full-detail-description full-detail">
  <div class="container">
    <div class="row row-bottom">
      <h2 class="detail-title">Jobs</h2>
      <ng-container *ngFor="let job of jobs">
        <div class="col-md-4 col-sm-6">
          <app-job-box [job]="job"></app-job-box>
        </div>
      </ng-container>
      <div *ngIf="jobs.length === 0">
        <p>There are no job openings for this company. Check back later!</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
