<app-nav-bar></app-nav-bar>
<section class="inner-header-title" style="background-image:url(assets/banner.jpg);">
  <div class="container">
    <h1>Browse Companies</h1>
  </div>
</section>
<div class="clearfix"></div>
<section class="browse-company">
  <div class="container">
    <div class="row extra-mrg">
      <div class="wrap-search-filter">
        <form>
          <div class="col-md-4 col-sm-4">
            <input type="text" class="form-control" placeholder="Keyword: Name, Tag">
          </div>
          <div class="col-md-3 col-sm-3">
            <input type="text" class="form-control" placeholder="Location: City, State, Zip">
          </div>
          <div class="col-md-offset-3 col-sm-offset-3 col-md-2 col-sm-2">
            <button type="submit" class="btn btn-success full-width">Filter</button>
          </div>
        </form>
      </div>
    </div>
    <ng-container *ngFor="let company of companies">
      <app-company-box [company]="company"></app-company-box>
    </ng-container>
  </div>
</section>
<app-footer></app-footer>
