<section class="inner-header-title" style="background-image:url('assets/banner-10.jpg');">
  <div class="container">
    <h1>Manage Resume</h1>
  </div>
</section>
<div class="clearfix"></div>

<section class="manage-resume gray">
  <div class="container">
    <!-- search filter -->
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="search-filter">

          <div class="col-md-4 col-sm-5">
            <div class="filter-form">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search…">
                <span class="input-group-btn">
												<button type="button" class="btn btn-default">Go</button>
											</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <article>
          <div class="mng-resume">
            <div class="col-md-2 col-sm-2">
              <div class="mng-resume-pic">
                <img src="assets/client-1.jpg" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="mng-resume-name">
                <h4>Alexander Weir <span class="cand-designation">(Web Developer)</span></h4>
                <span class="cand-status">10 Hour Ago</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="per-hour-rate">
                <p><i class="fa fa-money"></i> $17/Hour</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="mng-employee-skill">
                <span>html</span><span>css</span><span>java</span>
                <span>bootstrap</span>
              </div>
            </div>
            <div class="col-md-1 col-sm-1">
              <div class="mng-resume-action">
                <a href="#" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="#" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div class="mng-resume">
            <div class="col-md-2 col-sm-2">
              <div class="mng-resume-pic">
                <img src="assets/client-2.jpg" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="mng-resume-name">
                <h4>Henry Crooks <span class="cand-designation">(PHP Developer)</span></h4>
                <span class="cand-status">2 Hour Ago</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="per-hour-rate">
                <p><i class="fa fa-money"></i> $15/Hour</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="mng-employee-skill">
                <span>html</span><span>css</span><span>java</span>
                <span>bootstrap</span>
              </div>
            </div>
            <div class="col-md-1 col-sm-1">
              <div class="mng-resume-action">
                <a href="#" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="#" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div class="mng-resume">
            <div class="col-md-2 col-sm-2">
              <div class="mng-resume-pic">
                <img src="assets/client-3.jpg" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="mng-resume-name">
                <h4>Zara Clow <span class="cand-designation">(IOS Developer)</span></h4>
                <span class="cand-status">22 Min Ago</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="per-hour-rate">
                <p><i class="fa fa-money"></i> $16/Hour</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="mng-employee-skill">
                <span>html</span><span>css</span><span>java</span>
                <span>bootstrap</span>
              </div>
            </div>
            <div class="col-md-1 col-sm-1">
              <div class="mng-resume-action">
                <a href="#" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="#" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div class="mng-resume">
            <div class="col-md-2 col-sm-2">
              <div class="mng-resume-pic">
                <img src="assets/client-4.jpg" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="mng-resume-name">
                <h4>Joseph Macfarlan <span class="cand-designation">(SEO Expert)</span></h4>
                <span class="cand-status">58 Min Ago</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="per-hour-rate">
                <p><i class="fa fa-money"></i> $12/Hour</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="mng-employee-skill">
                <span>html</span><span>css</span><span>java</span>
                <span>bootstrap</span>
              </div>
            </div>
            <div class="col-md-1 col-sm-1">
              <div class="mng-resume-action">
                <a href="#" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="#" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div class="mng-resume">
            <div class="col-md-2 col-sm-2">
              <div class="mng-resume-pic">
                <img src="assets/client-5.jpg" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="mng-resume-name">
                <h4>Ethan Marion <span class="cand-designation">(UX/UI Designer)</span></h4>
                <span class="cand-status">05 Hour Ago</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="per-hour-rate">
                <p><i class="fa fa-money"></i> $17.5/Hour</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="mng-employee-skill">
                <span>html</span><span>css</span><span>java</span>
                <span>bootstrap</span>
              </div>
            </div>
            <div class="col-md-1 col-sm-1">
              <div class="mng-resume-action">
                <a href="#" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="#" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div class="mng-resume">
            <div class="col-md-2 col-sm-2">
              <div class="mng-resume-pic">
                <img src="assets/client-1.jpg" class="img-responsive" alt="" />
              </div>
            </div>
            <div class="col-md-3 col-sm-3">
              <div class="mng-resume-name">
                <h4>Daniel Dax <span class="cand-designation">(Web Developer)</span></h4>
                <span class="cand-status">10 Hour Ago</span>
              </div>
            </div>
            <div class="col-md-2 col-sm-2">
              <div class="per-hour-rate">
                <p><i class="fa fa-money"></i> $17/Hour</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="mng-employee-skill">
                <span>html</span><span>css</span><span>java</span>
                <span>bootstrap</span>
              </div>
            </div>
            <div class="col-md-1 col-sm-1">
              <div class="mng-resume-action">
                <a href="#" data-toggle="tooltip" title="Edit"><i class="fa fa-edit"></i></a>
                <a href="#" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></a>
              </div>
            </div>
          </div>
        </article>

      </div>
    </div>

  </div>
</section>

