<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav padd-bot-10">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"
            (click)="toggleCollapsed()">
      <i class="fa fa-bars"></i>
    </button>
    <div class="navbar-header">
      <a class="navbar-brand"><img src="assets/logo-white.png" class="logo logo-display" alt="">
        <img src="assets/logo-white.png" class="logo logo-scrolled" alt="">
      </a>
    </div>
    <div class="navbar-collapse" id="navbar-menu" [ngClass]="{'collapse': collapsed}">
      <ng-template #signInButton>
        <ul class="nav navbar-nav navbar-right">
          <li class="left-br"><a class="signin" routerLink="/auth/login">Sign In Now</a></li>
        </ul>
      </ng-template>
      <ng-container *ngIf="isLoggedIn; else signInButton">
        <ul class="nav navbar-nav navbar-right">
          <li><a>View Jobs</a></li>
          <li><a>Logout</a></li>
        </ul>
      </ng-container>
    </div>
  </div>
</nav>
