<div class="cursor" (click)="navigate()">
  <article>
    <div class="brows-company">
      <div class="col-md-2 col-sm-2">
        <div class="brows-company-pic">
          <a ><img src="{{company.logo}}" class="img-responsive" alt="Logo" /></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="brows-company-name">
          <a><h4>{{company.name}}</h4></a>
          <span class="brows-company-tagline">{{company.category}}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="brows-company-location">
          <p><i class="fa fa-map-marker"></i>{{' ' +company.location}}</p>
        </div>
      </div>
      <div class="col-md-2 col-sm-2">
        <div class="brows-company-position">
          <p>{{company.employee_count}} Employees</p>
          <div *ngIf="manage">
            <div class="mng-company-action" style="display: flex; justify-content: flex-end;">
              <a (click)="editCompany()" data-toggle="tooltip" title="" data-original-title="Edit" style="color: green; margin-right: 25px"><i class="fa fa-edit"></i></a>
              <a (click)="deleteCompany()" data-toggle="tooltip" title="" data-original-title="Delete" style="color: red;"><i class="fa fa-trash-o"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
