<app-nav-bar></app-nav-bar>
<div class="simple-banner" style="background-image:url('assets/simple-banner.jpg');">
  <div class="container">
    <div class="simple-banner-caption">
      <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 banner-text">
        <h3>Welcome To </h3>

        <h1>X <span>Lancer</span></h1>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<section class="bottom-search-form">
  <div class="container">
    <form class="bt-form" [formGroup]="searchJobFormGroup">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <input type="text" class="form-control"
                 placeholder="Search job" formControlName="title">
        </div>
        <div class="col-md-4 col-sm-6">
          <select id="choose-type" class="form-control" formControlName="type">
            <option>All</option>
            <option>Full Time</option>
            <option>Part Time</option>
            <option>Internship</option>
            <option>Contract</option>
          </select>
        </div>
        <div class="col-md-4 col-sm-6">
          <button type="submit" class="btn btn-primary" (click)="searchJob()">Search Job</button>
        </div>
      </div>
    </form>
  </div>
</section>
<section class="wp-process">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="main-heading">
          <p>Most View Jobs</p>

          <h2>Hot & Featured <span>Jobs</span></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <ng-container *ngFor="let job of jobs">
        <div class="col-md-4 col-sm-4">
          <app-job-box [job]="job"></app-job-box>
        </div>
      </ng-container>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="text-center"><a routerLink="/jobs" class="btn btn-success">Browse jobs</a></div>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
<section class="banner-success">
  <div class="container">
    <div class="row">
      <div class="main-heading">
        <p>XLancer</p>
        <h2>Leading you to <span>Success</span></h2>
      </div>
    </div>
  </div>
</section>
<section class="brows-job-category">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Browse companies empowered by XLancer Platform</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng-container *ngFor="let company of companies">
          <app-company-box [company]="company"></app-company-box>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-12 col-sm-12 view-all-jobs">
    <div class="text-center"><a routerLink="/companies" class="btn btn-success">View All Companies</a></div>
  </div>
</div>
<div class="clearfix"></div>
<app-footer></app-footer>
