<app-nav-bar></app-nav-bar>
<section class="inner-header-title blank">
  <div class="container">
    <h1>Apply Job</h1>
  </div>
</section>
<div class="clearfix"></div>
<form [formGroup]="jobApplicationForm">
  <div class="detail-desc section">
    <div class="container white-shadow">
      <div class="row bottom-mrg padd-top-40">
        <form class="add-feild">
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input class="form-control" placeholder="Experience" type="text" formControlName="experience">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="input-group">
              <input class="form-control" placeholder="Estimated Salary" type="text" formControlName="salary">
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <textarea class="form-control textarea" placeholder="Cover Letter"
                      formControlName="cover_letter"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
  <section class="full-detail">
    <div class="container">
      <div class="row bottom-mrg extra-mrg">
        <form>
          <h2 class="detail-title">Extra Information</h2>
          <div class="col-md-12 col-sm-12">
            <textarea class="form-control textarea" placeholder="Anything else to share"
                      formControlName="info"></textarea>
          </div>
        </form>
        <div class="col-md-12 col-sm-12 padd-top-20">
          <button class="btn btn-success btn-primary small-btn" type="button" (click)="createJobApplication()">Submit
            Your Proposal
          </button>
        </div>
      </div>
    </div>
  </section>
</form>
<app-footer></app-footer>
