<app-nav-bar></app-nav-bar>
<section class="inner-header-title" style="background-image:url('assets/banner.jpg');">
  <div class="container">
    <h1>Contact Page</h1>
  </div>
</section>
<div class="clearfix"></div>
<section class="contact-page">
  <div class="container">
    <h2>Drop A Mail</h2>
    <div class="col-md-4 col-sm-4">
      <div class="contact-box">
        <i class="fa fa-map-marker"></i>
        <p>#SEECS Nust Islamabad</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="contact-box">
        <i class="fa fa-envelope"></i>
        <p>ali.bese18seecs@seecs.edu.com</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="contact-box">
        <i class="fa fa-phone"></i>
        <p>PK: +92 323 426 8458</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
